@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

html {
  font-family: "Open Sans", sans-serif;
  background-color: #eeeeee;
}

#hello {
  background-color: #ffffff;
  font-color: blue;
  font-size: 20px;
  font-style: bold;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
  width: 450px;
  z-index: 100;
}

#kristina { 
  margin-left: 180px;
  z-index: 0;
}
