@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
  font-family: "Open Sans", sans-serif;
  background-color: #eeeeee;
}

#hello {
  background-color: #ffffff;
  font-color: blue;
  font-size: 20px;
  font-style: bold;
  padding: 20px;
  width: 480px;
}

#kristina {
  margin-left: 100px;
}
