@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

html {
  font-family: "Open Sans", sans-serif;
  background-color: #eeeeee;
}

#topbar {
	background-color: #8d4646;
	color: #8d4646;
	list-style: none;
	height: 0.5%;
	margin-top: -1%;
}

#navi li {
	font-size: 20px;
	font-weight: bold;
	color: #8d4646;
	list-style: none;
	display: inline-block;
	margin-left: 50%;
	padding-right: 20px;
}

#contact {
	position: fixed;
	list-style: none;
	margin-left: 90%;
	margin-top: 10%;
}

#contactMail li {
	list-style: none;
	z-index: 110;
}

#contactGit li {
	list-style: none;
	z-index: 110;
}

#contactInsta li {
	list-style: none;
	z-index: 110;
}

#portrait { 
	margin-left: 180px;
	margin-top: 80px;
	z-index: -1;
} 

#hello {
	background-color: #ffffff;
	font-size: 20px;
	font-style: bold;
	padding: 20px;
	margin-left: 50px;
	margin-top: -530px;
	width: 380px;
	z-index: 100;
	position: relative;
}

#hello :nth-child(1) {
	color: #8d4646;
	font-weight: bold;
}

#hello :nth-child(4) {
	color: #8d4646;
	font-weight: bold;
}

#about {
	margin-left: 1050px;
	margin-top: 300px;
	font-size: 14px;
	color: #8d4646;
	font-weight: bold;
	line-height: 2;
}
